.yt-carousel {
  background-color: orangered;
  position: relative;
  overflow: hidden;
  width: 1250px;
}

.carousel-button-prev {

}

.carousel-button-next {

}

.carousel-track-container {
  position: relative;
  padding: 5px;
  background-color: yellow;
  margin: 0;
  width: 100%;
}

.carousel-track {
  height: 600px;
  position: relative;
  transition: transform 250ms;
  background-color: blue;
}

.carousel-iframes {
  height: 200px;
  width: 345px;
  position: absolute;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}



/*
.current-iframe {
  position: relative;
  height: 225px;
  width: 400px;
  z-index: 20;
  transform: translateX(-39px);
}
*/
